<div class="row">
    <div class="col-12 back">
      
        <a routerLink="/consultores"><i class="fa fa-arrow-circle-left"></i> Atrás</a>
  </div>
  </div>

<div class="consultor-cont mx-auto">

    <div class="row">
        <div class="col-10 col-md-10">
            <h1  href="#">Eliminar Facilitador</h1>
           
        </div>
        <div class="col-1 col-md-2">
            <a routerLink="/consultores"><b class="float-right">X</b></a>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-12 col-md-10 text-center">
            <br>
            <h5>Estas seguro que deseas eliminar el consultor <b style="color: #EE7202;">{{nombre}} {{apellido}}</b></h5>
            <br><br>
            <a routerLink="/consultores"><button type="button" class="btn btn-lg btn-danger">Cancelar</button></a> &nbsp;&nbsp;&nbsp;
            <button (click)="deleteFacilitador(cedula)" type="button" class="btn btn-lg btn-true">Aceptar</button>
        </div>
        <div class="col-1"></div>
    </div>
</div>





