
<!-- Aquí se encuentra el código HTML del formulario de inscripcion de un emprendedor,
el cual se ejecuta dar click en el boton emprendedor de la sidebar y luego dar click
en el boton crear -->


<div class="row">
    <div class="col-12 back">
      
        <a routerLink="/emprendedores"><i class="fa fa-arrow-circle-left"></i> Atrás</a>
</div>
</div>

<div class="emprendedor-cont mx-auto">

    <div class="row">
        <div class="col-12 col-md-10">
            <h1  href="#">Eliminar Emprendedor</h1>
           
        </div>
        <div class="col-2">
            <a routerLink="/emprendedores"><b class="float-right">X</b></a>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-12 col-md-10 text-center">
            <br>
            <h5>Estas seguro que deseas eliminar el emprendedor <b style="color: #EE7202;">{{nombre}} {{apellido}}</b></h5>
            <span> (No puede eliminar un emprendedor si tiene un emprendimiento asociado)</span>
            <br><br>
            <a routerLink="/emprendedores"><button type="button" class="btn btn-lg btn-danger">Cancelar</button></a> &nbsp;&nbsp;&nbsp;
            <button (click)="deleteEmprendedor(cedula)" type="button" class="btn btn-lg btn-true">Aceptar</button>
        </div>
        <div class="col-1"></div>
    </div>
</div>





