
<!-- INICIA EMPRENDIMIENTOS NAVBAR -->
<div class="container">


    <nav class="navbar navbar-expand-md navbar-light fixed-top" id="nav_emp" >
      <table>
       <tr> 
            <td> 
                <h1 class="navbar-brand" href="#">Emprendimientos</h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </td> 
        </tr>
        <tr >
            <td colspan="2000">
                <hr />
            </td>
            
        </tr>
        <tr>
            <td>
                <h4 class="navbar-brand" href="#">Filtro</h4>
            </td>
        </tr>
        <tr> 
            <td colspan="3">
                <div>
                    <select class="form-control form-control-md" >
                        <option>Small select</option>
                        <option>Small select</option>
                        <option>Small select</option>
                      </select>   
                  </div>
                
            </td>
            <td>
                <div>
                    <select class="form-control form-control-md" >
                        <option>Small select</option>
                        <option>Small select</option>
                        <option>Small select</option>
                      </select>   
                  </div>
            </td>
            <td>
                <div>
                    <select class="form-control form-control-md" >
                        <option>Small select</option>
                        <option>Small select</option>
                        <option>Small select</option>
                      </select>   
                  </div>
            </td>
            <td>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <div  class="inner-addon right-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="text" class="form-control" placeholder="Search" />
                        <!-- <input class="form-control mr-sm-2" type="text" class="form-control" placeholder="Search" aria-label="Search"/> -->
                      </div>
                    <button class="btn btn-outline-success my-2 my-sm-0" id="boton_buscar" type="submit" >Buscar</button>
                </form>
                </div>
            </td>  
            <td></td>
            <td></td>
            <td>
                <button type="button" class="btn btn-warning">AGREGAR
                </button>
            </td>
        </tr>
       </table>
      </nav>
    
    </div>
     <!----------TERMINA EMPRENDEDORES NAVBAR------------------------>
    <div id="total">
        <hr>
           <h4 href="#">Total:01</h4>
       <hr>
    </div>
    <!----------EMPIEZA CAJA INFO EMPRENDIMIENTOS------------------------>
    <div class="card" id="caja_info">
        <div class="card-header">
          Fecha
        </div>
        <div class="card-body" >
          <h5 class="card-title">Rappi</h5>
          <p class="card-text">Estado: En proceso</p>
           <div id="btn_inf_empredimientos" class="text-right">
               <table>
                   <tr>
                    <td>
                       <img class="card-img-right flex-auto d-none d-md-block" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="Card image cap" id="imagen_usuario" width="50" height="50">
                       </td><td></td><td></td><td></td><td></td><td></td>
                       <td rowspan="2">
                           Valentina la mejor
                      </td> 
                   </tr> 
                   <tr></tr>      
               </table>   
               <table>
                   <td>
                    <a href="#" class="btn btn-link"  aling="left" >editar</a>
                   </td>
                   <td></td><td></td><td></td>
                   <td>
                    <a href="#" class="btn btn-link">eliminar</a>
                   </td>
               </table>            
           </div>     
        </div>
      </div>


