main > .container {
    padding: 60px 15px 0;
  }

  .footer {
    background-color: #f5f5f5;
  }

  .footer > .container {
    padding-right: 15px;
    padding-left: 10px;
  }

  code {
    font-size: 80%;
  }
  @media screen and (min-width:1209px) {
  #nav_emp{
    left: 250px;
    width: 1270px;
  }

  }


  @media screen and (max-width:371px) {
    #nav_emp{
      width: 790px;
    }
}
@media screen and (max-width:723px) {
    #nav_emp{
      width: 790px;
    }
}




#caja_info{

    width: 1000px;
    left: 150px;
    top: 100px;
}

#btn_inf_empredimientos{
    left: 100px;
}

#total{
    margin-top: 200px;
    margin-left: 70px;
}


.info_user{

    position: relative;

}

#filtros{
    width: 100px;
}