  <div class="row">
         <div class="col-12 consultar">
                <form>
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" class="form-control" placeholder="Buscar en el calendario">
                          </div>
                      </form>
         </div>

 </div>
 <div class="row botonesCrear">
         <div class="col-12 d-none d-md-block">
                <button type="button" class="btn btn-consultoria btn-lg" routerLink="/crear-consultoria">+ Crear consultoría</button>
<!--                 <button type="button" class="btn btn-evento btn-lg" disabled>+ Crear evento</button>
                <button type="button" class="btn btn-formulario btn-lg" disabled>+ Crear formulario</button> -->
         </div>
         <div class="col-12 d-block d-md-none text-center">
            <button type="button" class="btn btn-consultoria btn-lg" routerLink="/crear-consultoria">+ Crear consultoría</button>
<!--             <button type="button" class="btn btn-evento btn-lg" disabled>+ Crear evento</button>
            <button type="button" class="btn btn-formulario btn-lg" disabled>+ Crear formulario</button> -->
     </div>

<div class="emprendedor-cont mx-auto">

    <div class="row">
        <div class="col-12">
            <h1 href="#">Calendario</h1>

            <hr>

        </div>
        <div class="col-md-12 list-emp" > <!-- Se agrega el calendario y adentro sus eventos -->
            
            <full-calendar defaultView="dayGridMonth"
                            [plugins]="calendarPlugins" 
                            [locales]="locales"
                            locale="es"
                            [events]="eventSources">
        </full-calendar>
        </div>
    </div>
</div>