/*                              /* INICIO CODIGO ESTILOS SIDEBAR BOOTSTRAP */

/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
} */

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
/* 
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
} */

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
/* 
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
} */

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
/* 
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
} */
                                /* FIN CODIGO ESTILOS SIDEBAR BOOTSTRAP */

h1{
  font-size: 20px;
}

.emprendedor-cont{
  width: 96%;
  background: white;
  margin: 2% 2% 2% 2%;
  margin-top: 2%;
  padding: 40px;
  border-radius: 6px;
}
img#imagen_usuario {

  margin-left: 20px;
  margin-right: 20px;
  height: 100px;
}

#cuadro_info{
  border-radius: 6px;
  -webkit-box-shadow: 4px 3px 21px -8px rgba(0,0,0,0.13);
  -moz-box-shadow: 4px 3px 21px -8px rgba(0,0,0,0.13);
  box-shadow: 4px 3px 21px -8px rgba(0,0,0,0.13);
}

.cont-filtro {
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.list-emp{
  width: 100%;
}

select.form-control.form-control-lg {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #e2e2e2;
  border-radius: 0px;
  font-size: 14px;
}

.boton {
  margin-bottom: 40px;
}

.btnE{
  color: #fff;
  background-color: #9A66A8;
  border-color: #9A66A8;
}

.btnE:hover{
  color: #fff;
  background-color: #7e4b8c;
  border-color: #9A66A8;
}

.btnSearch{
  color:white;
  background: #c1c1c1
  
}

.btnSearch:hover{
  color:white;
  background: #909090;
  
}

.otrosbtn.float-right {
  margin-left: 80px;
}

.otrosbtn a {
  color: gray;
}

.otrosbtn a:hover {
  color: #9A66A8;
}

.plus img:hover{
  opacity: 0.7;
}

.back{
  margin:20px
}


.has-search .form-control {
    padding-left: 2.375rem;
    background: #f5f5f5;
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }

.btn-consultoria{
    width: 250px;
    padding: 20px 30px 20px 30px;
    background: #9066A6;
    font-size: 15px;
    color: white;
    margin-right: 20px;
}

.btn-consultoria:hover{

    background: #7b578e;

}

.btn-evento{
    width: 250px;
    padding: 20px 30px 20px 30px;
    background: #20529F;
    font-size: 15px;
    color: white;
    margin-right: 20px;
}

.btn-evento:hover{

    background: #1a417d;

}

.btn-formulario{
    width: 250px;
    padding: 20px 30px 20px 30px;
    background: #EE7202;
    font-size: 15px;
    color: white;
    margin-right: 20px;
}

.btn-formulario:hover{

    background: #e26c01;

}

.botonesCrear{
    margin: 20px 30px 20px 20px;
}

@media (min-width: 992px) {

  .emprendedor-cont{
    width: 96%;
    background: white;
    margin: 0;
    margin-top: 2%;
    padding: 40px;
    border-radius: 6px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .emprendedor-cont{
    width: 96%;
    background: white;
    margin: 0;
    margin-top: 2%;
    padding: 40px;
    border-radius: 6px;
  }
}

@media (max-width: 767px) {

  .emprendedor-cont{
    width: auto;
    background: white;
    margin: 0;
    margin-top: 2%;
    padding: 40px;
    border-radius: 6px;
    height: auto;
  }
}

.fc-event {

    background: #7b578e !important;
    color: white !important;
    font-size: 12px !important;

}

  
  //contenedor padre
 
  #wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    position: relative;
  }
  
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  
  .sidebar-brand {
    position: absolute;
    top: 0;
    width: 250px;
    text-align: left;
    margin-left: 10%;
    padding: 20px 0;
  }
  .sidebar-brand h2 {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
  }
  
  .sidebar-nav {
    position: absolute;
    top: 75px;
    width: 250px;
    margin-top: 60px ;
    margin-left: 10%;
    padding: 0;
    list-style: none;
  }
  .sidebar-nav > li {
    text-indent: 10px;
    line-height: 42px;
  }
  .sidebar-nav > li a {
    display: block;
    text-decoration: none;
    color: #949494;
    font-weight: 500;
    font-size: 18px;
  }
  .sidebar-nav > li > a:hover,
  .sidebar-nav > li.active > a {
    text-decoration: none;
    color: #9A66A8;
  }
  .sidebar-nav > li > a i.fa {
    font-size: 24px;
    width: 60px;
  }
  
  #navbar-wrapper {
      width: 100%;
      position: absolute;
      z-index: 2;
  }
  #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
  }
  #navbar-wrapper .navbar {
    border-width: 0 0 0 0;
    background-color: #eee;
    font-size: 24px;
    margin-bottom: 0;
    border-radius: 0;
  }
  #navbar-wrapper .navbar a {
    color: #757575;
  }
  #navbar-wrapper .navbar a:hover {
    color: #9A66A8;
  }
  
  #content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    top: 100px;
  }
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  
  @media (min-width: 992px) {
    #wrapper {
      padding-left: 250px;
    }
    
    #wrapper.toggled {
      padding-left: 60px;
    }
  
    #sidebar-wrapper {
      width: 250px;
    }
    
    #wrapper.toggled #sidebar-wrapper {
      width: 60px;
    }
    
    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -190px;
  }
    
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -190px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 60px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 60px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    #wrapper {
      padding-left: 60px;
    }
  
    #sidebar-wrapper {
      width: 60px;
    }
    
  #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
  }
    
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 250px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 250px;
    }
  }
  
  @media (max-width: 767px) {
    #wrapper {
      padding-left: 0;
    }
  
    #sidebar-wrapper {
      width: 0;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      width: 266px;
    }
    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -266px;
    }
  
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -266px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 266px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 266px;
    }
  }

  .logo{
    width: 70%;

    }


    .btnE{
      color: #fff;
      background-color: #9A66A8;
      border-color: #9A66A8;
    }
    
    .btnE:hover{
      color: #fff;
      background-color: #7e4b8c;
      border-color: #9A66A8;
    }

.actived {
      color: #9A66A8 !important;
  }