
<div class="row">
    <div class="col-12 back">
      
        <a routerLink="/consultar-consultorias"><i class="fa fa-arrow-circle-left"></i> Atrás</a>
</div>
</div>

<div class="emprendedor-cont mx-auto">

    <div class="row">
        <div class="col-10 col-md-10">
            <h1  href="#">Eliminar Consultoria</h1>
           
        </div>
        <div class="col-2">
            <a routerLink="/emprendedores"><b class="float-right">X</b></a>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-12 col-md-10 text-center">
            <br>
            <h5>Estas seguro que deseas eliminar la consultoria <b style="color: #EE7202;">{{consecutivo}} {{titulo}}</b></h5>
            <br><br>
            <a routerLink="/consultar-consultorias"><button type="button" class="btn btn-lg btn-danger">Cancelar</button></a> &nbsp;&nbsp;&nbsp;
            <button (click)="deleteConsultoria(consecutivo)" type="button" class="btn btn-lg btn-true">Aceptar</button>
        </div>
        <div class="col-1"></div>
    </div>
</div>




