
h1{
    font-size: 20px;
  }

  
  #cuadro_info{
    border-radius: 6px;
    -webkit-box-shadow: 4px 3px 21px -8px rgba(0,0,0,0.13);
    -moz-box-shadow: 4px 3px 21px -8px rgba(0,0,0,0.13);
    box-shadow: 4px 3px 21px -8px rgba(0,0,0,0.13);
  }
  
  .cont-filtro {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
  }
  
  .list-emp{
    width: 100%;
  }
  
  select.form-control.form-control-lg {
    outline: 0;
    border-width: 0 0 1px;
    border-color: grey;
    border-radius: 0px;
    font-size: 14px;
  }
  
  .boton {
    margin-bottom: 40px;
  }
  
  .btnE{
    color: #fff;
    background-color: #9A66A8;
    border-color: #9A66A8;
  }
  
  .btnE:hover{
    color: #fff;
    background-color: #7e4b8c;
    border-color: #9A66A8;
  }
  
  .btnSearch{
    color:white;
    background: #c1c1c1
    
  }
  
  .btnSearch:hover{
    color:white;
    background: #909090;
    
  }
  
  .otrosbtn.float-right {
    margin-left: 80px;
  }
  
  .otrosbtn a {
    color: gray;
  }
  
  .otrosbtn a:hover {
    color: #9A66A8;
  }
  
  .plus img:hover{
    opacity: 0.7;
  }
  
  .back{
    margin:10px
  }
  .back i {
    color: #9A66A8;
    font-size: 30px;
  }
 
  .formActUsuario input{
    outline: 0;
    border-width: 0 0 1px;
    border-color: #e2e2e2;
    border-radius: 0px;
    font-size: 14px;
  } 
  .formActUsuario input:focus{
    outline: 0;
    border-width: 0 0 1px;
    border-color: #f37920;
    border-radius: 0px;
    font-size: 14px;
  }

  ::-webkit-input-placeholder {
    direction: rtl;
  }
  
  fieldset.form-group {
    position: relative;
  }
  input{
    margin-bottom: 8px;
  }
  
  label {
    position: absolute;
    top: .6rem;
    left: 1rem;
    transition: all .1s ease-in-out;
    cursor: text;
  }

  select{
    outline: 0;
    border-width: 0 0 1px;
    border-color: #e2e2e2 !important;
    border-radius: 0px;
    font-size: 14px;
  }

.selectlabel {
    position: absolute;
    color: #F37920;
    top: -.9rem;
    background: white;
    left: 1rem;
    transition: all .1s ease-in-out;
    cursor: text;
  }
  
  :focus + label {
    color: #F37920;
    top: -.9rem;
    background: white;
  }
  
  fieldset small{
    margin-left: 15px;
  }

  .btn-success{
      background: #2ED47A;
      font-size: 15px;
  }

  .btn-true{
   background: #2ED47A;   
   color: white;
  }

  .btn-true:hover{
    background: #25b165;   

   }
   @media (min-width: 992px) {
  
    .emprendedor-cont{
      width: 80%;
      background: white;
      margin: 0;
      margin-top: 0%;
      padding: 40px;
      border-radius: 6px;
    }
  }
  
@media (min-width: 768px) and (max-width: 991px) {
  
  .emprendedor-cont{
    width: 80%;
    background: white;
    margin: 0;
    margin-top: 0%;
    padding: 40px;
    border-radius: 6px;
  }
  }
  
@media (max-width: 767px) {
  
  .emprendedor-cont{
    width: auto;
    background: white;
    margin: 0;
    margin-top: 0%;
    padding: 40px;
    border-radius: 6px;
  }
  }