.btn-primary{
    background-color: #7386D5;
    border-color: #7386D5;
    color: white;
}
.btn-primary:hover{
    background-color: rgb(87, 113, 216);
    border-color: rgb(87, 113, 216);
    color: white;
}
.logo{
    width: 200px;
}
// .message-cont{
//     width: 600px;
//     height: 90%;
//     background-color: red;
//     // background: transparentize($color: #e9ecef, $amount: 0);
//     margin: 2% 2% 2% 2%;
//     margin-top: 2%;
//     // padding: 40px;
//     border-radius: 6px;
 
//   }

.card{
    width: 50em;
}



.card-body {
    height: 500px !important;
}