
<!-- INICIA EMPRENDEDORES NAVBAR -->
<div class="container">


<nav class="navbar navbar-expand-md navbar-light fixed-top" id="nav_emp" >
  <table>
   <tr> 
        <td> 
            <h1 class="navbar-brand" href="#">Emprendedores</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </td> 
    </tr>
    <tr >
        <td colspan="2000">
            <hr />
        </td>
        
    </tr>
    <tr>
        <td>
            <h4 class="navbar-brand" href="#">Filtro</h4>
        </td>
    </tr>
    <tr> 
        <td colspan="3">
            <div>
                <select class="form-control form-control-md" >
                    <option>Small select</option>
                    <option>Small select</option>
                    <option>Small select</option>
                  </select>   
              </div>
            
        </td>
        <td>
            <div>
                <select class="form-control form-control-md" >
                    <option>Small select</option>
                    <option>Small select</option>
                    <option>Small select</option>
                  </select>   
              </div>
        </td>
        <td>
            <div>
                <select class="form-control form-control-md" >
                    <option>Small select</option>
                    <option>Small select</option>
                    <option>Small select</option>
                  </select>   
              </div>
        </td>
        <td>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" >
                <button class="btn btn-outline-success my-2 my-sm-0" id="boton_buscar" type="submit" >Buscar</button>
            </form>
            </div>
        </td> 
        <td></td>
        <td></td>
        <td>
            <button type="button" class="btn btn-outline-warning my-2 my-sm-0">Agregar
            </button>
        </td>  
    </tr>
   </table>
  </nav>

</div>
 <!----------TERMINA EMPRENDEDORES NAVBAR------------------------>


<div class="info_user">
 <div class="row mb-2" id="caja_info">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250" id="cuadro_info">
            <div class="card-body d-flex flex-column align-items-start" >
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Emprendedor #1</a>
              </h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <table>
                  <tr>
                    <td>
                        <a routerLink="/actualizar-emprendedores">Editar</a>
                    </td>
                    <td></td><td></td><td></td>
                    <td>
                        <a routerLink="/eliminar-emprendedores">Eliminar</a>
                    </td>
                  </tr>
              </table>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="Card image cap" id="imagen_usuario" width="200" height="200">
          </div>
        </div>
      </div>
</div> 