                                               
/*EMPRENDEDORES NAVBAR*/

main > .container {
    padding: 60px 15px 0;
  }
  
  .footer {
    background-color: #f5f5f5;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 10px;
  }
  
  code {
    font-size: 80%;
  }
  @media screen and (min-width:1209px) {
  #nav_emp{
    left: 250px;  
    width: 1270px;
  }

  }
    

  @media screen and (max-width:371px) {
    #nav_emp{     
      width: 790px;
    }  
} 
@media screen and (max-width:723px) {
    #nav_emp{     
      width: 790px;
    }  
}

#caja_info{

    width: 2000px;
}

#cuadro_info{

    left: 75px; 
    top: 200px;

}

.info_user{

    position: relative;
    
}

#filtros{
    width: 100px;
}

