<!-- Componente que contiene el codigo HTML la barra de navegacion 
    vertical en a la izquierda de la pantalla -->

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img class="logo" src="../../../assets/image/logo2.jpg" alt="" srcset="">
        </div>
        <ul class="list-unstyled components">
            <p>Hola, pepito!</p>
            <li class="active">
            <li>
                <a routerLink="/calendario">Calendario</a> <!-- Redirecciono a componente calendario -->
            </li>
            <li>
                <a routerLink="/consultar-consultorias">Consultorías</a>
            </li>
            <li>
                <a routerLink="/consultores">Consultores</a>
            </li>
            <li>
                <a routerLink="/consultar-emprendimientos">Empredimientos</a>
            </li>
            <li>
                <a routerLink="/emprendedores">Emprendedores</a>
            </li>
        </ul>
        <ul class="list-unstyled CTAs">
            <li>
                <a routerLink="/login" class="download">Salir</a>
            </li>
        </ul>
    </nav> <!-- Fin Sidebar -->

            <router-outlet></router-outlet> <!-- Aqui se ejecutan todos los demás componentes -->

</div>
