.input{
    outline: 0;
    border-width: 0 0 1px;
    border-color: rgb(177, 166, 166);
    margin: 2px;
    width: 300px;
  }
.input:focus{
    border-color: #7386d5;
  
}

.input:focus::placeholder{
    color: #7386d5;
}


.btn{
    background-color: #7386d5;
    color: white;
}

#form{
    margin-top: 75px;
    margin-left: 150px;
}

#imagen1{
    margin-top: 100px;
}

